
<section class="tem_index_footer">
    <div class="tem_inner">
        <div class="nav_bar">
            <div class="met_fl contact_info">
                <dt><span>海宁泰尔欣新材料有限公司</span></dt>
                <dd>
                    <p>海宁泰尔欣新材料有限公司位于海宁尖山新区，主要从事导电纤维、导电纱线产品的研发、生产和销售。坚持“以质量求生存，以信誉求发展”的企业理念。欢迎来电咨询、洽谈及研发合作！
                        <meta name="baidu-site-verification" content="hkriw5CX9g">
                    </p>
                </dd>
            </div>
            <div class="nav met_fr">
                <dl>
                    <div class="bar">
                        <dt><a href="about/show.php.html" title="关于我们"><span>关于我们</span></a></dt>
                        <dd>
                            <ul>
                                <li><a href="about/show.php.html" title="公司简介"><span>公司简介</span></a></li>
                                <li><a href="about/show.php-1.html" title="企业文化"><span>企业文化</span></a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
                <dl>
                    <div class="bar">
                        <dt><a href="product/index.html" title="导电纤维产品"><span>导电纤维产品</span></a></dt>
                        <dd>
                            <ul>
                                <li><a href="product/product.php.html?lang=cn&class2=66"
                                       title="导电纱线 长丝"><span>导电纱线 长丝</span></a></li>
                                <li><a href="product/product.php-1.html?lang=cn&class2=67" title="复合纱"><span>复合纱</span></a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
                <dl>
                    <div class="bar">
                        <dt><a href="laboratory/index.html" title="实验检测"><span>实验检测</span></a></dt>
                        <dd>
                            <ul>
                                <li><a href="laboratory/index.html" title="实验室"><span>实验室</span></a></li>
                                <li><a href="reports/index.html" title="实验报告"><span>实验报告</span></a></li>
                            </ul>
                        </dd>
                    </div>
                </dl>
                <dl>
                    <div class="bar">
                        <dt><a href="message/index.html" title="联系我们"><span>联系我们</span></a></dt>
                    </div>
                </dl>
            </div>
        </div>
        <div class="met_clear"></div>
    </div>
</section>

<footer class="tem_footer">
    <section class="tem_inner">
        <div class="tem_footer_text">
            COPYRIGHT (©) 2019 海宁泰尔欣新材料有限公司-导电纤维 导电纱线
            <a href="http://www.beian.miit.gov.cn/" target="_blank"
               rel="nofollow">&nbsp;&nbsp;&nbsp;浙ICP备19038534号-1</a>
            <span style="display: inline-block;margin-left:10px;">
                Powered by <a href="http://www.mituo.cn" style="margin-left:0;">Metinfo</a>
            </span>
        </div>
    </section>
</footer>