<header>
    <section>
        <div class="tem_top">
            <h1>
                <a href="http://www.hntaierxin.com/" title="海宁泰尔欣新材料有限公司">
                    <img src="__STATIC__/upload/201901/1547783052.jpg" alt="海宁泰尔欣新材料有限公司" title="海宁泰尔欣新材料有限公司"/>
                </a>
            </h1>
            <i class="am-icon-bars"></i>
        </div>
    </section>
    <div class="tem_head">
        <nav class="am-collapse">
            <ul>
                <li>
                    <a class="home" href="__STATIC__/index.html" title="首页" >首页</a>
                </li>
                <li>
                    <a class="about" href="__STATIC__/about/m.show.php.html" title="关于我们">关于我们</a>
                </li>
                <li>
                    <a class="product" href="__STATIC__/product/m.product.html" title="导电纤维产品">导电纤维产品</a>
                </li>
                <li>
                    <a class="laboratory reports" href="__STATIC__/laboratory/m.index.html" title="实验检测">实验检测</a>
                </li>
                <li>
                    <a class="message" href="__STATIC__/message/m.index.html" title="联系我们">联系我们</a>
                </li>

            </ul>
        </nav>
    </div>
</header>