
<section class="tem_index_footer">
    <div class="tem_inner">
        <div class="nav_bar">
            <div class="met_fl contact_info">
                <dt><span>{$companyInfo.name}</span></dt>
                <dd>
                    <p>{$companyInfo.introduce}
                        <meta name="baidu-site-verification" content="hkriw5CX9g">
                    </p>
                </dd>
            </div>
            <div class="nav met_fr">
                {foreach $navbar as $key=>$nav}
                    {if($nav['key'] != 'index')}
                    <dl>
                        <div class="bar">
                            <dt><a href="{$nav['href']}"  title="{$nav['name']}"><span>{$nav['name']}</span></a></dt>
                            {notempty name="$nav['children']"}
                            <dd>
                                <ul>
                                    {foreach $nav['children'] as $key=>$child}
                                    <li>
                                        <a href="{$child['href']}" title="{$child['name']}"><span>{$child['name']}</span></a>
                                    </li>
                                    {/foreach}
                                </ul>
                            </dd>
                            {/notempty}
                        </div>
                    </dl>
                    {/if}
                {/foreach}
            </div>
        </div>
        <div class="met_clear"></div>
    </div>
</section>

<footer class="tem_footer">
    <section class="tem_inner">
        <div class="tem_footer_text">
            COPYRIGHT (©) 2022 {$companyInfo.name}-导电纤维 导电纱线
            <a href="http://www.beian.miit.gov.cn/" target="_blank"
               rel="nofollow">&nbsp;&nbsp;&nbsp;备案号:苏ICP备2022009181号-1</a>
        </div>
    </section>
</footer>
