<header data-waypointsok="1" class="index">
    <section>
        <div class="tem_inner tem_top">
            <h2><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;手机：13506733158</h2>
            <div class="tem_top_nav">
                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;459925494@qq.com、sue@taierxinfiber.com
            </div>
        </div>
    </section>
    <div class="tem_head">
        <div class="tem_inner">
            <h1>
                <a href="/index/index" title="海宁泰尔欣新材料有限公司">
                    <img src="__STATIC__/upload/201901/1547783052.jpg" alt="海宁泰尔欣新材料有限公司"
                         style="margin:15px 0px 0px 0px;"
                         title="海宁泰尔欣新材料有限公司">
                </a>
            </h1>
            <nav>
                <ul>
                    {foreach $navbar as $key=>$item}
                    <li>
                        <a class="{$item['key']}" href="{$item['href']}" title="{$item['name']}">
                            {$item['name']}
                        </a>
                        {notempty name="$item['children']"}
                        <dl>
                            <dd>
                                {foreach $item['children'] as $key=>$child}
                                <a class="{$child['key']}" href="{$child['href']}" title="{$child['name']}">{$child['name']}</a>
                                {/foreach}
                                <div class="met_clear"></div>
                            </dd>
                        </dl>
                        {/notempty}
                    </li>
                    {/foreach}
                </ul>
            </nav>
        </div>
    </div>
    <div class="met_clear"></div>
</header>
<script>
    document.querySelector('nav a.' + ('{$nav1}' || 'index')).classList.add('navdown');
</script>