<div class="tem_banner">
    <div class="flash"><img src='[imgUrl]' width='980' alt='' height='400'></div>
</div>
<section class="met_section_head qimi_section_head">
    <div class="met_section qimi_section">
			<span class="fa-stack fa-lg">
			  	<i class="fa fa-circle fa-stack-2x"></i>
			  	<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
			</span>
        <span class="nav-color">您的位置：</span>&nbsp;&nbsp;
        <a href="__STATIC__/index.html" title="首页">首页</a> &gt;
        <span class="nav-color">
            {foreach $navbar as $key=>$item}
                {eq name="$item['key']" value="$nav1"}
                    <a href="{$item['href']}">{$item['name']}</a>
                    {notempty name="$item['children']"}
                        {foreach $item['children'] as $key=>$child}
                            {eq name="$child['key']" value="$pathInfo"}
                                > <a href="{$child['href']}">{$child['name']}</a>
                            {/eq}
                        {/foreach}
                    {/notempty}
                {/eq}
            {/foreach}
        </span>
    </div>
</section>