<section class="met_article_head qimi_article_head">
    <div class="qimi-subnav qimi-subnav2">
        <ul style="width:400px">
            {volist name="navbar" id="item"}
                {eq name="$item['key']" value="$nav1"}
                    {notempty name="$item['children']"}
                        {volist name="$item['children']" id="child"}
                            <li class='{eq name="$child.key" value="$pathInfo"} on {/eq}' id="nav{$i}">
                                <a href="{$child['href']}#nav{$i}" title="{$child['name']}">
                                    <div>{$child['name']}</div>
                                </a>
                            </li>
                        {/volist}
                    {/notempty}
                {/eq}
            {/volist}
            <div class="met_clear"></div>
        </ul>
    </div>
</section>