{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554792703.jpg' /}

<section>

    {include file='public/classify'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div class="met_module3_list">
                <ul class="list_1">
                    {volist name="list" id="item"}
                    <li>
                        <a href="/index/product/showproduct?id={$item['id']}" title="{$item['name']}" target='_self'>
                            <img src="__ADMIN__/{$item['images']}" width="400" height="300">
                            <h2>{$item['name']}</h2>
                        </a>
                    </li>
                    {/volist}
                </ul>

                <div class="met_clear"></div>

                {include file='public/paginate'/}

            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>