{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554792703.jpg' /}

<section>
    <section class="met_section qimi_section_other met_section_asidenone met_section_sehed">
        <qimi_article>
            <div>
                <div id="showproduct">
                    <dl class='pshow'>
                        <dt data-product_x="400">
                            <div class="met_box">
                                <div class="met_imgshowbox">
                                    <div class="my-simple-gallery slides">
                                        <figure>
                                            <a href="__STATIC__/{$product['img_url']}">
                                                <img src="__STATIC__/{$product['img_url']}" alt="{$product['name']}">
                                            </a>
                                            <figcaption>{$product['name']}</figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="met_clear"></div>
                                <ol></ol>
                            </div>
                        </dt>
                        <dd>
                            <div class="met_box">
                                <h1 class='met_title'>{$product['name']}</h1>


                                <div class='desc'>
                                    <h3>产品详情：</h3>
                                    <pre style="font-family: '微软雅黑';color: #666;line-height: 15px;">{$product['detail']}</pre>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="met_clear"></div>

                    <div class="met_tools">
                        <ul class="met_page">
                            {notempty name="$prevItem['product_id']"}
                                <li class="met_page_preinfo">
                                    <a href="/index/product/showproduct?id={$prevItem.product_id}"><span>上一条</span>
                                    </a>
                                </li>
                            {/notempty}
                            {notempty name="$nextItem['product_id']"}
                                <li class="met_page_next">
                                    <a href="/index/product/showproduct?id={$nextItem.product_id}"><span>下一条</span></a>
                                </li>
                            {/notempty}
                        </ul>
                    </div>
                </div>
            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>