{include file='public/header' classnow="75" id="" met_module="5"  /}

{include file='public/nav' imgUrl='__STATIC__/upload/201904/1547795332.jpg' /}

<section>

    {include file='public/tab'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div class="active" id="imglist">
                    <ul class="list_1">
                        <li>
                            <a href="__STATIC__/upload/201909/1567656674.jpg" rel="honor75" class="fancybox" title="车间展示"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567656674.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567656313.jpg" rel="honor75" class="fancybox" title="车间展示"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567656313.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567656422.jpg" rel="honor75" class="fancybox" title="车间展示"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567656422.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567656227.jpg" rel="honor75" class="fancybox" title="车间展示"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567656227.jpg" width="400" height="250">
                            </a>
                        </li>
                    </ul>
                    <div class="met_clear"></div>
                </div>

            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>

    {include file='public/footer' }