{layout name="layout" /}

{include file='public/header' classnow="76" id="" met_module="5"  /}

{include file='public/nav' imgUrl='__STATIC__/upload/201904/1547795332.jpg' /}

<section>

    {include file='public/tab'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div class="active" id="imglist">
                    <ul class="list_1">
                        <li>
                            <a href="__STATIC__/upload/201909/1567664516.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567664516.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567664753.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567664753.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567665071.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567665071.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567665093.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567665093.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567664408.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567664408.jpg" width="400" height="250">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/upload/201909/1567664275.jpg" rel="honor76" class="fancybox"
                               title="检测报告"
                               target='_self'>
                                <img src="__STATIC__/upload/201909/1567664275.jpg" width="400" height="250">
                            </a>
                        </li>
                    </ul>
                    <div class="met_clear"></div>
                </div>

            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>