{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554792752.jpg' /}

<section>

    {include file='public/tab'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div class="met_editor met_module1">

                    <div class="gt_about12">
                        <div class="gt_about12_img">
                            <img src="__STATIC__/templates/qimi/images/about.png">
                        </div>
                        <div class="gt_about12_title">
                            <h1>企业文化/corporate culture</h1>
                            <hr>
                        </div>
                        <div class="gt_about12_box">
                            <div><p>
                                宜兴市鼎德新材料有限公司位于钱塘江北岸的海宁尖山新区，主要从事导电纤维产品的研发、生产和销售。坚持“以质量求生存，以信誉求发展”的企业理念。欢迎来电咨询、洽谈及研发合作！</p>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>