
{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554792752.jpg' /}

<section>

    {include file='public/tab'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div class="met_editor met_module1">

                    <div class="gt_about11">
                        <h1>{$companyInfo.name}简介-导电纤维供应厂商</h1>
                        <p>COMPANY PROFILE</p>
                    </div>
                    <div><p><img src="__STATIC__/upload/201902/1550591937.jpg"
                                 style="float: left;margin-right:30px;width:50%"></p>
                        <p style="line-height: 1.75em;"><span
                                style="font-family: 微软雅黑 "><strong><br></strong></span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 "><strong>{$companyInfo.introduce}</strong></span>
                        </p>
                        <hr>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 "><br></span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 ">{$introduceInfo1}</span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 ">{$introduceInfo2}</span>
                        </p>
                        <p style="line-height: 1.75em;"><br></p></div>

                    <div class="clear"></div>
                </div>

            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>