
{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554792752.jpg' /}

<section>

    {include file='public/tab'/}

    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div class="met_editor met_module1">

                    <div class="gt_about11">
                        <h1>海宁泰尔欣公司简介-导电纤维 导电纱线供应厂商</h1>
                        <p>COMPANY PROFILE</p>
                    </div>
                    <div><p><img src="__STATIC__/upload/201901/1548336764102583.jpg" alt="1548336764102583.jpg"
                                 style="float: left;margin-right:30px;width:50%"></p>
                        <p style="line-height: 1.75em;"><span
                                style="font-family: 微软雅黑 "><strong><br></strong></span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 "><strong>海宁泰尔欣新材料有限公司位于钱塘江北岸的海宁尖山新区，主要从事导电纤维、导电纱线产品的研发、生产和销售。坚持“以质量求生存，以信誉求发展”的企业理念。欢迎来电咨询、洽谈及研发合作！</strong></span>
                        </p>
                        <hr>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 "><br></span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 ">公司坐落于钱塘江北岸的海宁尖山新区，一个以制造业为主导兼具旅游、休闲等功能的现代化综合性生态型滨海新城。如今，泰尔欣企业正在大力发展导电纤维产品，吸收了日本钟纺公司和江苏省纺织研究所复合丝生产技术，配备国内先进的有机复合导电生产设备以及拥有丰富经验的一流工程师和技术人员，为我们的客户稳定地生产优质产品。我们按照客户的需求为其度身定制特殊功能性、异型、有色长丝以及功能性纤维产品。我们的产品达到IS09001标准并可通过SGS、ITS等机构的检测。我们计划投资自己的实验室，并且继续开发其他功能性的特种纤维，为我国化工行业的进步贡献一份力量。</span>
                        </p>
                        <p style="line-height: 1.75em;"><span style="font-family: 微软雅黑 ">海宁泰尔欣新材料有限公司是一家集生产、贸易和服务于一体的综合性公司，坚持“以质量求生存，以信誉求发展”的企业理念，热诚接待与服务每一位国内外新老客户。欢迎来电咨询、洽谈及研发合作！</span>
                        </p>
                        <p style="line-height: 1.75em;"><br></p></div>

                    <div class="clear"></div>
                </div>

            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>