{include file='public/nav' imgUrl='__STATIC__/upload/201904/1554955446.jpg' /}

<section>
    <section class="met_section qimi_section_other  ">
        <qimi_article>
            <div>
                <div id="messagelist">
                    <h3 class="v52fmbx_hr">联系方式</h3>
                    <div class="contact-webname">宜兴市鼎德新材料有限公司</div>
                    <img src="__STATIC__/upload/201901/1548318442.jpg" alt="">
                    <div class="conatct_info">
                        <ul>
                            <li>联系电话:13506733158/0573-87803076</li>
                            <li>传真：0573-87805008</li>
                            <li>地址：浙江省海宁市尖山新区安江路74号</li>
                            <li class="li_longer">邮箱：459925494@qq.com、sue@taierxinfiber.com</li>
                            <li>网站：__DOMAIN__</li>
                            <div class="met_clear"></div>
                        </ul>
                    </div>
                    <h3 class="v52fmbx_hr">留言</h3>
                    <div class="contact-webname">宜兴市鼎德新材料有限公司</div>
                    <form method="POST" class="ui-from" id="messageForm"  name='myform' action="/index/message/sendEmail">
                        <div class="v52fmbx qimi_v52fmbx">
                            <div class="qimi_contact_box">
                                <dl class="qimi_ftype_input">
                                    <dd class="ftype_input">
                                        <div class="fbox">
                                            <input name="姓名" type="text" placeholder="姓名 " data-required="1">
                                        </div>
                                        <span class="tips"></span>
                                    </dd>
                                </dl>
                                <dl class="qimi_ftype_input">
                                    <dd class="ftype_input">
                                        <div class="fbox">
                                            <input name="联系电话" type="text" placeholder="联系电话 " data-required="1">
                                        </div>
                                        <span class="tips"></span>
                                    </dd>
                                </dl>
                                <dl class="qimi_ftype_input">
                                    <dd class="ftype_input">
                                        <div class="fbox">
                                            <input name="电子邮箱" type="text" placeholder="电子邮箱 " data-required="1">
                                        </div>
                                        <span class="tips"></span>
                                    </dd>
                                </dl>
                                <dl class="qimi_ftype_textarea">
                                    <dd class="ftype_textarea">
                                        <div class="fbox">
                                            <textarea name="留言内容" data-required="1" placeholder="留言内容 "></textarea>
                                        </div>
                                        <span class="tips"></span>
                                    </dd>
                                </dl>

                                <div class="met_clear"></div>
                            </div>
                        </div>
                        <div class="contact-submit">
                            <input type="submit" name="submit" value="发送" class="submit">
                        </div>
                    </form>

                    <div id="allmap"></div>
                    <link rel="stylesheet"
                          href="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css">
                    <script type="text/javascript"
                            src="https://api.map.baidu.com/api?v=2.0&ak=RzBUcYLlr0yjdDdwxgDTqk0C6hwfRCjw"></script>
                    <script type="text/javascript"
                            src="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
                    <script type="text/javascript">
                        var map = new BMap.Map('allmap');
                        var poi = new BMap.Point('120.809374', '30.323514');
                        map.centerAndZoom(poi, 16);
                        map.enableScrollWheelZoom();
                        var content = '<div class="baidu-map-content">地址：浙江省海宁市尖山新区安江路74号<br/>联系电话:13506733158/0573-87803076</div>';
                        var searchInfoWindow = null;
                        searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
                            title: "宜兴市鼎德新材料有限公司",      //标题
                            width: 290,             //宽度
                            height: 105,              //高度
                            panel: "panel",         //检索结果面板
                            enableAutoPan: true,     //自动平移
                            searchTypes: [
                                BMAPLIB_TAB_SEARCH,   //周边检索
                                BMAPLIB_TAB_TO_HERE,  //到这里去
                                BMAPLIB_TAB_FROM_HERE //从这里出发
                            ]
                        });
                        var marker = new BMap.Marker(poi); //创建marker对象
                        marker.enableDragging(); //marker可拖拽
                        marker.addEventListener("click", function (e) {
                            searchInfoWindow.open(marker);
                        })
                        map.addOverlay(marker); //在地图中添加marker
                        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                        var label = new BMap.Label("宜兴市鼎德新材料有限公司", {offset: new BMap.Size(20, 0)});
                        marker.setLabel(label);
                        map.enableScrollWheelZoom();
                        add_control();

                        //添加控件和比例尺
                        function add_control() {
                            var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
                            var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
                            var mapType = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]});
                            var overView = new BMap.OverviewMapControl();
                            var overViewOpen = new BMap.OverviewMapControl({
                                isOpen: true,
                                anchor: BMAP_ANCHOR_BOTTOM_RIGHT
                            });
                            map.addControl(top_left_control);
                            map.addControl(top_left_navigation);
                            map.addControl(mapType);          //2D图，卫星图
                            map.addControl(overView);          //添加默认缩略地图控件
                            map.addControl(overViewOpen);      //右下角，打开
                        }
                    </script>
                </div>
            </div>
        </qimi_article>
        <div class="met_clear"></div>
    </section>
</section>