
<div class="tem_banner">
    <div class="skitter skitter-large with-dots">
        <ul>
            <li class="met_none">
                <a href="#banner0">
                    <img src="__STATIC__/upload/201909/1567663452.jpg" style="max-width:100%;height:auto;">
                </a>
            </li>
            <li class="met_none">
                <a href="#banner1">
                    <img src="__STATIC__/upload/201909/1567666094.jpg" style="max-width:100%;height:auto;">
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="qimi_index_product ">
    <div class="tem_inner">
        <div>
            <h3 class="tem_index_title">
			<span>
				导电纤维产品
				<p>PRODUCT CENTER</p>
			</span>
            </h3>
            <ol class="qimi_index_product_tab">
                {volist name="classifyList" id="classify"}
                    <li data-name="tab{$classify['id']}"><h3>{$classify['name']}</h3></li>
                {/volist}
            </ol>
            <div class="met_clear"></div>
        </div>
        <div class="qimi_index_product_slides">
            <div class="slides qimi_index_case">

                {volist name="classifyList" id="classify"}
                    <div class="qimi_index_case_list met_none" id="tab{$classify['id']}">
                        <div class="qimi_index_product_list">
                            {volist name="productList" id="item"}
                            {eq name="$item['classify_id']" value="$classify['id']"}
                            <div class="item">
                                <a href="/index/product/showproduct?id={$item['id']}" >
                                    <div class="img-box">
                                        <div class="circle">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                        <div class="img"></div>
                                        <img class="lazyload"  data-src="__ADMIN__/{$item['images']}" width="100%" height="305px">
                                    </div>
                                    <div class="ptitle">{$item['name']}</div>
                                </a>
                            </div>
                            {/eq}
                            {/volist}
                        </div>
                        <div class="tem_index_more">
                                <a href="/index/product/{$classify['id']}" title="MORE" target='_self'>MORE</a>
                        </div>
                    </div>
                {/volist}

            </div>
        </div>
        <div class="met_clear"></div>
    </div>
</section>

<section class="tem_index_about">
    <div class="index_about_left"
         style="background:url(__STATIC__/upload/201902/1550591937.jpg);background-repeat:no-repeat;background-position:center;">
        <div class="index_about_left_showdon">
            <div class="index_about_left_ul">
                <ul>
                    <li>
                        <div class="index_about_left_content index_about_left_content1">
                            宜兴市鼎德新材料有限公司成立于2006年
                            <p>
                            <div class="circle"><i class="fa fa-home"></i></div>
                            成立时间

                        </div>
                    </li>
                    <li>
                        <div class="index_about_left_content">
                            以质量求生存，以信誉 求发展
                            <p>
                            <div class="circle"><i class="fa fa-pencil"></i></div>
                            企业理念

                        </div>
                    </li>
                    <div class="met_clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="index_about_right">
        <div class="index_about_right_box">
            <h3 class="tem_index_title">
				<span>
					企业简介
					<p>COMPANY PROFILE</p>
				</span>
            </h3>
            <div class="tem_index_about_cont">
                <p>宜兴市鼎德新材料有限公司位于钱塘江北岸的海宁尖山新区，主要从事导电纤维,导电纱线产品的研发、生产和销售。坚持“以质量求生存，以信誉求发展”的企业理念。欢迎来电咨询、洽谈及研发合作！</p>
                <h4 class="tem_index_about_more"><a href="/index/about" title="MORE"
                                                    target='_self'>MORE</a></h4>
            </div>
        </div>
    </div>
    <div class="met_clear"></div>
</section>


<section class="tem_index_about" style="margin-bottom:100px">
    <div class="tem_inner">
        <h3 class="tem_index_title">
			<span>
				关于我们
				<p>ABOUT US</p>
			</span>
        </h3>
        <div class="tem_index_aboutus">
            <ul>
                <li>
                    <div class="aboutus aboutus1">
                        <a href="/index/about/about2">
                            <div class="circle">
                                <img src="__STATIC__/templates/qimi/images/icon2-2.png" alt="" class="img_none1">
                                <img src="__STATIC__/templates/qimi/images/icon2-1.png" alt="" class="img_none2">
                            </div>
                            <div class="aboutus_title">
                                企业文化
                                <p>CORPORATE CULTURE</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="aboutus">
                        <a href="/index/about">
                            <div class="circle">
                                <img src="__STATIC__/templates/qimi/images/icon1-2.png" alt="" class="img_none1">
                                <img src="__STATIC__/templates/qimi/images/icon1-1.png" alt="" class="img_none2">
                            </div>
                            <div class="aboutus_title">
                                公司简介
                                <p>CORPORATE VISION</p>
                            </div>
                        </a>
                    </div>
                </li>
                <div class="met_clear"></div>
            </ul>
        </div>
    </div>
</section>