{layout name="layout" /}

{include file='public/header' classnow="10001" id="" met_module="10001"  /}

<div class="tem_banner">
    <div class="skitter skitter-large with-dots">
        <ul>
            <li class="met_none">
                <a href="#banner0">
                    <img src="__STATIC__/upload/201909/1567663452.jpg" style="max-width:100%;height:auto;">
                </a>
            </li>
            <li class="met_none">
                <a href="#banner1">
                    <img src="__STATIC__/upload/201909/1567666094.jpg" style="max-width:100%;height:auto;">
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="qimi_index_product ">
    <div class="tem_inner">
        <div>
            <h3 class="tem_index_title">
			<span>
				导电纤维产品
				<p>PRODUCT CENTER</p>
			</span>
            </h3>
            <ol class="qimi_index_product_tab">
                <li class="flex-active" data-name="tab0"><h3>导电纱线 长丝</h3></li>
                <li data-name="tab1"><h3>复合纱</h3></li>
            </ol>
            <div class="met_clear"></div>
        </div>
        <div class="qimi_index_product_slides">
            <div class="slides qimi_index_case">

                <div class="qimi_index_case_list  " id="tab0">
                    <div class="qimi_index_product_list">

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=34">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823685.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">锦纶导电原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=35">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824121.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">20D3F白导电原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=32">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823727.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">锦纶/尼龙导电原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=31">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823867.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">涤纶黑外导原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=33">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823781.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">200Ｄ黑导电原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=120">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202007/1594803662.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">DTY导电原丝40D</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=119">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202007/1594803834.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">DTY导电原丝150D</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=115">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202007/1594701286.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">DTY导电原丝75D</div>
                            </a>
                        </div>

                    </div>
                    <div class="tem_index_more"><a href="/index/product')}?lang=cn&class2=66"
                                                   title="MORE"
                                                   target='_self'>MORE</a></div>
                </div>

                <div class="qimi_index_case_list  met_none" id="tab1">
                    <div class="qimi_index_product_list">

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=51">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824272.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">锦纶导复合纱</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=49">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823832.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">导电包覆纱</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=52">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824396.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">涤纶复合纤维</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=45">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823672.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">锦纶白导电原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=47">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824084.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">涤纶导电纤维原丝</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=46">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824116.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">黑色导电复合纱</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=50">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823736.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">涤纶导电复合纱</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=41">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553823924.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">白导电复合纱</div>
                            </a>
                        </div>

                    </div>
                    <div class="tem_index_more"><a href="__STATIC__/product/product.php-1.html?lang=cn&class2=67"
                                                   title="MORE"
                                                   target='_self'>MORE</a></div>
                </div>

                <div class="qimi_index_case_list  met_none" id="tab2">
                    <div class="qimi_index_product_list">

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=40">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824083.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">黑导电毛条</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=54">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553824510.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">白导电毛条</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=55">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553828335.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">白导电短纤</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=38">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553827881.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">灰导电短纤</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=36">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553827838.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">黑色涤纶短纤</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=37">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/201903/1553828263.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">黑导电短纤</div>
                            </a>
                        </div>

                    </div>
                    <div class="tem_index_more"><a href="product/product.php-2.html?lang=cn&class2=68" title="MORE"
                                                   target='_self'>MORE</a></div>
                </div>

                <div class="qimi_index_case_list  met_none" id="tab3">
                    <div class="qimi_index_product_list">

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=87">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783412.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-107抗皱柔软剂（浴中宝）</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=85">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783358.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-302环保硬挺剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=82">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783127.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-901螯合分散剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=81">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783014.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-410防水剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=95">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783944.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-101消泡剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=89">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589783438.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-607超细纤维起毛剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=80">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589782475.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-8101高效除油剂</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="__STATIC__/product/showproduct.php.html?lang=cn&id=83">
                                <div class="img-box">
                                    <div class="circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="img"></div>
                                    <img class="lazyload"  data-src="__STATIC__/upload/202005/1589782790.jpg" width="100%" height="305px">
                                </div>
                                <div class="ptitle">SJ-800高温匀染剂</div>
                            </a>
                        </div>

                    </div>
                    <div class="tem_index_more"><a href="product/product.php-3.html?lang=cn&class2=69" title="MORE"
                                                   target='_self'>MORE</a></div>
                </div>

            </div>
        </div>
        <div class="met_clear"></div>
    </div>
</section>

<section class="tem_index_about">
    <div class="index_about_left"
         style="background:url(__STATIC__/upload/201902/1550591937.jpg);background-repeat:no-repeat;background-position:center;">
        <div class="index_about_left_showdon">
            <div class="index_about_left_ul">
                <ul>
                    <li>
                        <div class="index_about_left_content index_about_left_content1">
                            海宁泰尔欣新材料有限公司成立于2006年
                            <p>
                            <div class="circle"><i class="fa fa-home"></i></div>
                            成立时间

                        </div>
                    </li>
                    <li>
                        <div class="index_about_left_content">
                            以质量求生存，以信誉 求发展
                            <p>
                            <div class="circle"><i class="fa fa-pencil"></i></div>
                            企业理念

                        </div>
                    </li>
                    <div class="met_clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="index_about_right">
        <div class="index_about_right_box">
            <h3 class="tem_index_title">
				<span>
					企业简介
					<p>COMPANY PROFILE</p>
				</span>
            </h3>
            <div class="tem_index_about_cont">
                <p>海宁泰尔欣新材料有限公司位于钱塘江北岸的海宁尖山新区，主要从事导电纤维,导电纱线产品的研发、生产和销售。坚持“以质量求生存，以信誉求发展”的企业理念。欢迎来电咨询、洽谈及研发合作！</p>
                <h4 class="tem_index_about_more"><a href="/index/about" title="MORE"
                                                    target='_self'>MORE</a></h4>
            </div>
        </div>
    </div>
    <div class="met_clear"></div>
</section>


<section class="tem_index_about" style="margin-bottom:100px">
    <div class="tem_inner">
        <h3 class="tem_index_title">
			<span>
				关于我们
				<p>ABOUT US</p>
			</span>
        </h3>
        <div class="tem_index_aboutus">
            <ul>
                <li>
                    <div class="aboutus aboutus1">
                        <a href="/index/about/about2">
                            <div class="circle">
                                <img src="__STATIC__/templates/qimi/images/icon2-2.png" alt="" class="img_none1">
                                <img src="__STATIC__/templates/qimi/images/icon2-1.png" alt="" class="img_none2">
                            </div>
                            <div class="aboutus_title">
                                企业文化
                                <p>CORPORATE CULTURE</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="aboutus">
                        <a href="/index/about">
                            <div class="circle">
                                <img src="__STATIC__/templates/qimi/images/icon1-2.png" alt="" class="img_none1">
                                <img src="__STATIC__/templates/qimi/images/icon1-1.png" alt="" class="img_none2">
                            </div>
                            <div class="aboutus_title">
                                公司简介
                                <p>CORPORATE VISION</p>
                            </div>
                        </a>
                    </div>
                </li>
                <div class="met_clear"></div>
            </ul>
        </div>
    </div>
</section>